In [69]:
import sklearn
from sklearn import datasets
from sklearn.neighbors import KNeighborsClassifier
from sklearn import metrics
import pandas as pd
from sklearn.impute import SimpleImputer
from sklearn.ensemble import RandomForestClassifier

In [42]:
iris = datasets.load_iris()
print(iris.data.shape)

(150, 4)

In [13]:
x =iris.data
y= iris.target
features = iris.feature_names
target = iris.target_names
print("Feature Names",features)
print("Target names",target)
print(x[:10])

Feature Names ['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)', 'petal width (cm)']
Target names ['setosa' 'versicolor' 'virginica']
[[5.1 3.5 1.4 0.2]
 [4.9 3.  1.4 0.2]
 [4.7 3.2 1.3 0.2]
 [4.6 3.1 1.5 0.2]
 [5.  3.6 1.4 0.2]
 [5.4 3.9 1.7 0.4]
 [4.6 3.4 1.4 0.3]
 [5.  3.4 1.5 0.2]
 [4.4 2.9 1.4 0.2]
 [4.9 3.1 1.5 0.1]]

In [19]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.3,random_state=4)
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(105, 4)
(45, 4)
(105,)
(45,)

In [36]:
classifier = KNeighborsClassifier(n_neighbors=1)
classifier.fit(x_train,y_train)
y_pred = classifier.predict(x_test)
print(metrics.accuracy_score(y_test,y_pred))

0.9555555555555556

In [35]:
sample = [[3,5,4,2],[2,3,5,4]]
result  = classifier.predict(sample)
result

array([1, 2])

In [127]:
placemnet = pd.read_csv("placement-dataset.csv")
print(iris.data.shape)

(150, 4)

In [134]:
placemnet = placemnet.dropna()

In [135]:
placemnet.head()

          city      cgpa     iq  placement
0     New York  6.800000  123.0          1
1  Los Angeles  5.900000  106.0          0
2      Chicago  5.965217  121.0          0
3     New York  7.400000  132.0          1
4  Los Angeles  5.800000  142.0          0

In [2]:
#create a dictionary print detials according to the key and sort 

frined = {1:"shrey",2:"wudali"
}


print(frined[1])

NameError: name 'iris' is not defined

In [144]:
placemnet.tail()

           city  cgpa     iq  placement
95      Chicago   4.3  200.0          0
96     New York   4.4   42.0          0
97  Los Angeles   6.7  182.0          1
98      Chicago   6.3  103.0          1
99     New York   6.2  113.0          1

In [145]:
cc= placemnet[['cgpa', 'iq']]
pl= placemnet['placement']

In [146]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(cc,pl,test_size=0.3,random_state=4)
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(67, 2)
(29, 2)
(67,)
(29,)

In [173]:
plclassifier = KNeighborsClassifier(n_neighbors=3)
plclassifier.fit(x_train,y_train,)
y_pred = plclassifier.predict(x_test)
print(metrics.accuracy_score(y_test,y_pred))

0.4827586206896552

In [174]:
sample = [[9,120],[9,300]]
res = plclassifier.predict(sample)
res

c:\Users\KIIT\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but KNeighborsClassifier was fitted with feature names
  warnings.warn(

array([1, 0], dtype=int64)

In [175]:
plclassifier = RandomForestClassifier()
plclassifier.fit(x_train,y_train)
y_pred = plclassifier.predict(x_test)
print(metrics.accuracy_score(y_test,y_pred))

0.9310344827586207

In [176]:
sample = [[5,120],[9,300]]
res = plclassifier.predict(sample)
res

c:\Users\KIIT\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

array([0, 1], dtype=int64)